.education{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.timeline{
    display: flex;
    flex-direction: column;
    &-block{
        width: 100%;
        display: flex;
        justify-content: center;
        &__left{

        }
        &__middle{
            position: relative;
            padding: 0 28px;
        }
        &__empty{
            margin: 0 11px;
            height: 150px;
            width: 2px;
            background: linear-gradient(0, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
        }
        &__circle{
            z-index: 2;
            height: 23px;
            width: 23px;
            border-radius: 50%;
            background-color: rgba($bgc-dark, 0.8);
            &::before{
                z-index: 1;
                position: absolute;
                top: 11px;
                left: 0;
                content: '';
                height: 2px;
                width: 50%;
                background-color: rgba(0, 0, 0, 0.3);
            }
            &::after{
                z-index: 1;
                position: absolute;
                top: 0;
                left: calc(50% - 1px);
                content: '';
                height: 150px;
                width: 2px;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
        &__left{
            height: 150px;
        }
        &__right{
            height: 150px;
        }
    }
    &__year{
        width: 114px;
        position: relative;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        padding: 20px 0;
        &::before{
            position: absolute;
            bottom: 26px;
            left: -11px;
            content: '';
            height: 2px;
            width: 80px;
            background-color: rgba(0, 0, 0, 0.3);
            transform: rotate(-45deg);
        }
        &::after{
            position: absolute;
            bottom: 26px;
            right: -11px;
            content: '';
            height: 2px;
            width: 80px;
            background-color: rgba(0, 0, 0, 0.3);
            transform: rotate(45deg);
        }
    }
}